.container { 
  height: 100vh;
  position: relative;
  border: 3px solid black; 
}

.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}